---
import Button from "@/components/Button.astro";
import AboutImage from "../assets/about-image.jpg"
import {Image} from "astro:assets";
---

<section id="about me" class="about pt-section">
    <div class="container">
        <div class="grid">
            <div class="about__content">
                <h2>About Me</h2> 
                <p>
                    I am a passionate web developer with a knack for creating dynamic and responsive web applications. My journey in web development began with a fascination for how websites work, and it has since evolved into a full-fledged career.
                      I specialize in front-end development, but I also have experience with back-end technologies. I love learning new technologies and frameworks to enhance my skill set and deliver the best possible user experience.
                </p>
                <Button text="Descubre mas" href="/"/>
            </div>


            <div class="about__image">
                <Image src={AboutImage} alt="About Image" />
            </div>
        </div>
    </div>
</section>

<style>
    h2 {
        margin-bottom: 1rem;
    }

    .about__content {
        margin-bottom: 2rem;
        text-align: center;
    }

    .about__content p{
        margin-bottom: 2rem;
    }

    .about__image {
        position: relative;
    }

    .about__image::before {
        content: "";
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: -0.5rem;
        width: 25px;
        height: 100px;
        border: 1.5px solid var(--primary-color-400);
        border-radius: 5rem; 
    }

    .about__image::after {
        content: "";
        position: absolute;
        top: -2.5rem;
        right: 2rem;
        width: 20px;
        height: 80px;
        border: 1.5px solid var(--primary-color-400);
        border-radius: 5rem; 
        rotate: 90deg;
    }

    .about__image img {
        border-radius: 0.5rem;
    }

    @media (min-width: 768px) {
        h2 {
            text-align: left;
            font-size: 1.5rem;
        }

        .about__content {
            text-align: left;
        }

        .about__content p {
            font-size: 1.1rem;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
            place-items: center;
        }
    }
</style>
